{% extends "base.html" %}
{% block content %}
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h1 class="h3">{{ account.name }}</h1>
    <div class="btn-group">
      <a class="btn btn-outline-secondary btn-sm" href="{% url 'fin_mate:account-update' account.pk %}">Edit</a>
      <a class="btn btn-outline-danger btn-sm" href="{% url 'fin_mate:account-delete' account.pk %}">Delete</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-4"><strong>Type:</strong> {{ account.get_type_display }}</div>
        <div class="col-md-4"><strong>Currency:</strong> {{ account.currency }}</div>
        <div class="col-md-4"><strong>Balance:</strong> {{ account.balance }}</div>
      </div>
    </div>
  </div>
{% endblock %}